.cardMap{
    background-color: rgba(219, 229, 233, 0.8);
    width: 500px;
    height: 300px;
    margin-left: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.cardMap:hover{
    transition: 1s;
    transform: scale(1.1);
}
.contentTextMap iframe{
    width: 450px;
    height: 250px;
}

