.BarraSuperiorD{
    display: flex;
    align-items: center;
    position: relative;
    left: 300px;
    width: 75rem;
    display: flex;
    margin-bottom: 12px;
    border-bottom: 1px solid #333;
}

.content12{
    position: relative;
    left: 300px;
}
.contentCardsD{
    display: flex;
    width: 1200px;
    height: 230px;
    position: relative;
    left: 300px;
    margin-top: 42px;
}

.cardF{
    width: 250px;
    height: 150px;
    margin-left: 82px;
    border-radius: 12px;
    box-shadow: 0 5px 12px #333;
    padding: 22px;
    color: #969696;
}

.cardV{
    width: 250px;
    height: 150px;
    margin-left: 82px;
    border-radius: 12px;
    box-shadow: 0 5px 12px #333;
    padding: 22px;
    color: #969696;
}
.cardP{
    width: 250px;
    height: 150px;
    margin-left: 82px;
    border-radius: 12px;
    box-shadow: 0 5px 12px #333;
    padding: 22px;
    color: #969696;
}
.cardP:hover, .cardF:hover, .cardV:hover{
    transform: scale(1.1);
    transition: 1s;
    color: #333;
}

.contentImg1{
    display: flex;
}

.textoP{
    position: relative;
    left: 150px;
}

.historialFacturas{
    position: relative;
    left: 300px;
    width: 1200px;
    height: auto;
    background-color: white;
    padding: 22px;
    border-radius: 12px;
}

.historialFacturas table{
    width: 1150px;
    border: 1px solid #bababa;
}

.historialFacturas th{
    border: 1px solid #b6b5b5;
    background-color: #e2e2e2;
    height: 42px;
    padding: 12px;
}

.historialFacturas td{
    border: 1px solid #969696;
    height: 60px; 
    color: #757575;
}

.buttonFilter{
    display: flex;
}

.buttonFilter button{
    height: 43px;
    width: 114px;
    border-radius: 7px;
    border: 2px solid lightblue;
    margin-top: -5px;
    padding: 0;
    margin-left: 15px;
}

.buttonFilter button:hover{
    transform: scale(1.1);
    transition: 1s;
}